html {
    background-color: black;
    font-family: Verdana;
    text-align: center;
}

h1,
h2 {
    color: white;
}

h1 {
    font-size: 50px;
    font-weight: normal;
}

h2 {
    
}

p {
    font-size: 21px;
    color: gray
}

.bigtitle {
    text-align: center;
}

.subtitle {
    font-weight: 300;
    font-size: 42px;
}

a:link {
    color: aquamarine;
    font-size: 16px;
}

a:visited {
    color: blue;
}

a:hover {
    color: hotpink;
  }

.copyright {
    text-align: right;
}